ion-content{
    
}

.centralizar {
    background: #fff url('../imagens/background.png') no-repeat center/cover fixed;
    
    height: 100% !important;
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
